.header {
  display: flex;
  flex-direction: column;

  .title-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    
    .header__title {
      color: white;
      background: #0b868f;
      padding: 10px;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .header__indicators{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    margin: 5px;
  }
}
