.stat-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 10px;
  border: solid #0b868f 1px;
  border-radius: 10px;
  color: gray;
  margin: 0px;

  .stat-card__label{
      text-align: center;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif
  }
  
  .stat-card__value{
      font-weight: bold;
      color: black;
  }
}