<h2 class="page-header__title">
  Olympic games app
</h2>
<p>
  TeleSport has prepared an “Olympic Games” section to visualize the performance of each country.
</p>

<div class="dashboard">
  <section class="dashboard__header">
    <app-header
      [title]="headerTitle"
      [indicators]="headerIndicators" />
  </section>

  <section class="dashboard__chart">
    <app-medals-pie-chart
      [countries]="countries"
      [medals]="sumOfAllMedalsYears"
      [countryIds]="countryIds" />
  </section>
</div>
