.back-button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #0b868f;
  background-color: #0b868f;
  color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
}

.back-button:hover {
  background-color: #096b72;
}